<div class="container ">
    <div class="surveyEditFormContainer" *ngIf="surveyToEdit">
        <div class="col-md-offset-3 col-md-10">
            <h1 class="display-4">Edit Survey</h1>
        </div>
        <form class="surveyEditForm" novalidate class="m-2" (ngSubmit)='onSubmit()' [formGroup]="surveyEditForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" name='title' formControlName="title" required>
            </div>
            <div class="form-group">
                <label for="Expiration Date">Expiration Date</label>
                <input class="form-control" type="datetime-local" name="expiration_dte" formControlName="expiration_dte" required>
            </div>
            <table class="table" formArrayName="questions">
                <tr>
                    <th colspan="2">Questions: </th>
                </tr>
                <tr *ngFor="let question of questions().controls; let qIndex=index" [formGroupName]="qIndex">
                    <td>
                        Text :
                        <input type="text" formControlName="text" class="form-control">
                    </td>
                    <td>
                        Type:
                        <input type="text" formControlName="type" class="form-control" disabled>
                    </td>
                    <td>
                        <div formArrayName="answers">
                            <div *ngFor="let answer of answers(qIndex).controls; let aIndex=index">
                                <div [formGroupName]="aIndex">
                                    Answer :
                                    <input type="text" formControlName="text" class="form-control">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" formControlName="isCorrect">
                                        <label class="form-check-label" for="isCorrect">Is Answer correct?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="text-left">
                <button class="btn btn-secondary m-1" (click)='surveyList()'>Back</button>
                <button class="btn btn-primary m-1" type="submit">Update Survey</button>
            </div>
        </form>
    </div>
</div>