<div class="container home-container" style="position: relative;">
    <div class="row justify-content-center">
        <h1 class="typed-element display-3">Survey Builder</h1>
    </div>
    <div class="row boxes-container">
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-ico">
                    <span class="ico-circle"><i class="fas fa-poll-h" id="service-icon"></i></span>
                </div>
                <div class="service-content">
                    <h2 class="s-title">Survey Customization</h2>
                    <p class="s-description text-center">
                        Create your survey with different types of questions and options.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-ico">
                    <span class="ico-circle"><i class="fas fa-chart-bar" id="service-icon"></i></span>
                </div>
                <div class="service-content">
                    <h2 class="s-title">Statistics</h2>
                    <p class="s-description text-center">
                        Discover the statistics behind your surveys through the admin dashboard.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-ico">
                    <span class="ico-circle"><i class="fas fa-dollar-sign" id="service-icon"></i></span>
                </div>
                <div class="service-content">
                    <h2 class="s-title">Free Service</h2>
                    <p class="s-description text-center">
                        Start creating your surveys. Account creation is free and there is no limit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>