/* custom css goes here */
body{
    background-color: rgba(255, 8, 8, 0.904);
    color: rgb(226, 8, 172), 31, 31;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home{
    display: grid;
    height: 110vh;
    color: cornsilk;
    min-height: 50px;
    font-family: 'Ubuntu',sans-serif;
}
