.section-title h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  .section-title h1::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #34b7a7;
    bottom: 0;
  }

  .section-title p {
    margin-bottom: 0;
  }

  .survey-container{
      padding-bottom: 7%;
  }

  .btn-vertical{
    margin-bottom: 0;
    text-align: left;
  }

  .tfcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .tfcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 15%;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    
  border-radius: 15px;
  }
  
  /* On mouse-over, add a grey background color */
  .tfcontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .tfcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .tfcontainer input:checked ~ .checkmark:after {
    display: block;
  }